<!-- app/views/site/home.html.erb -->

<h1>Word Central</h1>

<p>Your destination for text utilities.</p>

<div><a href="/text_inspections/new">Inspect your text</a></div>
<div><a href="/asciis/new">Convert your text to ASCII</a></div>
<div><a href="/trambolikoipsum/new">Get your Tramboliko Ipsum</a></div>